.page-header {
    width: 80%;
    height: var(--page-header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-header__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-text-col);
    text-decoration: none;
}

.page-header__nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.page-header__nav-link {
    color: var(--primary-text-col);
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    .page-header {
        width: 100%;
    }
}