.user-auth {
    height: max-content;
    width: 100%;
    padding-top: 64px;
    display: flex;
    justify-content: center;
}

.user-auth__content {
    min-width: 300px;
    width: max-content;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-col);
    border-radius: 8px;
}

.user-auth__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-auth__input,
.user-auth__submit-button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 6px;
}

.user-auth__submit-button {
    margin-top: 32px;
    background-color: var(--button-col);
    color: var(--primary-text-col);
    cursor: pointer;
}