{% extends "base.html" %}
{% from "macros/todo.html" import todo with context %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}"/>
{% endblock %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <div class="todos">
        <div class="todos__content">
            <div class="todos__content-left">
                <ul class="todos__side-menu">
                    <li class="todos__side-menu-item todos__side-menu-item--active">
                        <p class="todos__side-menu-text">Today</p>
                        <p class="todos__side-menu-text todos__side-menu-text--secondary">5</p>
                    </li>
                    <li class="todos__side-menu-item">
                        <p class="todos__side-menu-text">Upcoming</p>
                        <p class="todos__side-menu-text todos__side-menu-text--secondary">3</p> 
                    </li>
                    <li class="todos__side-menu-item">
                        <p class="todos__side-menu-text">Important</p>
                        <p class="todos__side-menu-text todos__side-menu-text--secondary">5</p> 
                    </li>
                </ul>
            </div> 
            <div class="todos__content-right">
                <h1 class="todos__heading">My Todos</h1>
                <div class="todos__filter-options">
                    <input class="todos__search-bar" placeholder="Search" />
                    <div class="todos__dropdown">
                        <label class="todos__dropdown-label" for="sort-by">Sort by:</label>
                        <select name="todos__dropdown-selector" id="sort-by">
                            <option value="recent">Recent</option>
                            <option value="alphabetical">A-Z</option>
                        </select>
                    </div>
                </div>
                <div class="todos__todos-container">
                    {% for i in range(3) %}
                        {{ todo() }}
                    {% endfor %}
                </div>
                <form class="todos__add-todo-form" method="post">
                    <input class="todos__add-todo-input" placeholder="Add a todo" />
                    <button class="todos__add-todo-button">Add</button>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}