{% extends "user_auth_base.html" %}

{% block title %}Register{% endblock %}

{% block heading %}Register{% endblock %}

{% block user_auth_form_content %}
{{ form.username.label }} {{ form.username(class='user-auth__input') }}
{{ form.password.label }} {{ form.password(class='user-auth__input') }}
{{ form.confirm_password.label }} {{ form.confirm_password(class='user-auth__input') }}
{{ form.submit(class='user-auth__submit-button') }}
{% endblock %}

{% block user_auth_option %}
<p>Already have an account? Login <a href="{{ url_for('login') }}">here</a></p>
{% endblock %}