{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-auth.css') }}">
{% endblock %}

{% block page_content %}
<div class="user-auth-container">
    <div class="user-auth-container__content">
        <h1 class="user-auth-container__heading">
            {% block heading %}{% endblock %}
        </h1>
        <form class="user-auth-container__form">
            {{ form.hidden_tag() }}
            {% block user_auth_form_content %}{% endblock %}
        </form>
        {% block user_auth_option %}{% endblock %}
    </div>
</div>
{% endblock %}