{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}"> 
{% endblock %}

{% block title %}Landing{% endblock %}

{% block page_content %}
<div class="landing">
    <div class="landing__content">
        <h1 class="landing__heading">Simple Todos with Flask Todo</h1>
        <button class="landing__call-to-action-button">
            <a class="landing__link" href="{{ url_for('main.register') }}">Sign Up for Free</a>
        </button>
    </div>
</div>
{% endblock %}